/*
This sets up some CSS variables I can use repeatedly without having to 
type out the hexadecimal values for every element I want styled
*/

:root {
  --primary: #78be20;
  --dark: #131a26;
  --light: #eee;
}
/*
This sets every elements margin, padding, box sizing and font family to the same
unless otherwise stated in individual elements
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--dark);
}

/*
This makes it so the app takes up the entire height of the screen, and everything 
is centered
*/
.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/*
This sets the calculator class to have a width the length of the screen up to 400pixels.
Sets the background to white, and gives the entire container a rounded edge and a slight
shadow. 
*/
.calculator {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

/*
This sets the display portion to have a light background and dark text, with some
padding and aligns the text to the right emulating a calculator. 
*/
.display {
  padding: 16px;
  text-align: right;
  background-color: var(--light);
  color: var(--dark);
  font-size: 24px;
  font-weight: 300;
}

/*
This sets the span within the display div to have a smaller font and different colour.
*/
.display span {
  font-size: 14px;
  color: #888;
}

/*
This removes any default styling on the buttons, gives the button an animation transition,
a hover event which changes the cursor to a pointer and changes the opacity. 
*/

button {
  appearance: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

/*
This makes the operators button span equal amounts across the div. 
*/

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
  border: 1px solid white;
}

/*
This makes it so the buttons are all equal sizes within the div, and don't
go beyond the 1/3rd width
*/
.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--primary);
  border: 1px solid white;
}
